:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #26939f;
  --gris: #757575;
  --grisClaro: #b6b6b6;
}
 
/* Truco para uniformidad de texto entre navegadores */
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: Krub, sans-serif;
  background-image: linear-gradient (to top, var(--oscuro) 0%, var(--secundario) 100%);
}
 
/*Tipografía*/
 
h1 {
  font-size: 3.8rem;
}
 
h2 {
  font-size: 2.8rem;
}
 
h3 {
  font-size: 1.8rem;
}
 
h1,
h2,
h3 {
  text-align: center;
}
 
.my-title span {
  font-size: 2rem;
}
 
.navegacion-principal {
  /* Margin es por fuera y padding es por dentro */
  display: flex; /* Flexbox está diseñado para alinear elementos en tus diseños */
  /* justify-content para FILAS / align-items es para COLUMNAS (flex-direction)*/
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
}
 
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
  }
}
 
/* Al poner el cursor en el hipervínculo*/
.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
 
.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none; /* Remueve el estilo subrayado en el texto */
  padding: 1rem;
}
 
.contenedor {
  max-width: 120rem; /* 1200 pixeles porque 1 rem= 10px */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  margin: 0 auto;
}
 
.nav-bg {
  background-color: var(--secundario);
}
 
.hero {
  background-image: url(../img/pibble.png); /* ../ es para regresar un nivel
    de directorio ya que la carpeta "img" está afuera de "CSS" */
  background-repeat: no-repeat; /* Sirve para evitar la repetición de la imagen cuando es pequeña */
  background-size: cover; /*Sirve para cubir la imagen con todo el tamaño*/
  height: 750px; /*Alto del elemento hero*/
  position: relative; /*Para manipular la posición. El padre siempre
    debe ser relative*/
}
 
.contenido-hero {
  position: absolute; /*Para manipular la posición. El hijo siempre
    debe ser absolute*/
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  /*Alinear vertical y horizontalmente*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.contenido-hero p,
.contenido-hero h2 {
  color: var(--blanco);
}
 
.ubicacion {
  display: flex;
  align-items: flex-end;
}

#pin{
    color: red;
    width: 70px;
    height: auto;
    
}
 
.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  text-transform: uppercase; /* Convertir el texto en mayúsculas */
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 3rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}
 
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

/*Mis servicios*/
@media (min-width: 768px){
  .servicios{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.servicio h3 {
  color: var(--secundario);
  font-weight: bold;

}

.servicio p{
  line-height: 2;
  text-align: center;
}

.servicio .iconos{
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
  width: 100px;
  height: auto;
}

/*contacto*/
.boton:hover{
  cursor: pointer;

}

.formulario{
  background-color: var(--primario);
  width: min(60rem,100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  
}
.formulario fieldset{
  border: none;
}